body{
    background-color: white;
    border: 10px red solid;;
}
.box{
    background-color: yellow;
    height: 600px;
    width: auto;
    border: 6px white solid;
    display: grid;
    grid-template-areas: "menue titulo menud"
                          "menue conteudo menud" 
                          "menue rodape menud";
    grid-template-rows: 50px 1fr 100px;
    grid-template-columns: 100px 1fr 100px;
}
.titulo{
    background-color: red;
    grid-area: titulo;
}
.menuE{
    background-color: brown;
    grid-area: menue; 
}
.conteudo{
    background-color: green;
    grid-area: conteudo;
}
.menud{
    background-color: pink;
    grid-area: menud;
}
.rodape{
    background-color: orange;
    grid-area: rodape;
}