
.box{
    background-color: yellow;
    height: 600px;
    width: auto;
    border: 6px white solid;
    display: grid;
    grid-template-areas: "topo topo topo"
                          "ce cp cd" 
                          "rodape rodape rodape";
    grid-template-rows: 200px 1fr 200px;
    grid-template-columns: 200px 1fr 200px;
}
.topo{
    background-color: red;
    grid-area: topo;
    text-align: center;
    font-size: 40px;
    display: grid;
    grid-template-areas: "topo topo topo topo";
    grid-template-columns: "20px 1fr 1fr 20px";
    gap: 10px;
}
.topo .topo1{
    background-color: red;
}

.ce{
    background-color: pink;
    grid-area: ce; 
    text-align: center;
    font-size: 40px;
}
.cp{
    background-color: green;
    grid-area: cp;
    text-align: center;
    font-size: 40px;
}
.cd{
    background-color: pink;
    grid-area: cd;
    text-align: center;
    font-size: 40px;
}
.rodape{
    background-color: orange;
    grid-area: rodape;
    text-align: center;
    font-size: 40px;
}